<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllNewsServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.AllNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewsServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.AddNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteNewsServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.DeleteNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditNewsServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.EditNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditNewsServlet2</servlet-name>
		<servlet-class>com.restaurant.servlet.EditNewsServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsPageServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.NewsPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsFilterServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.NewsFilterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicAllServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.PicAllServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicChangeDisplayServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.PicChangeDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodPageServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicUploadServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.PicUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicDeleteServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.PicDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodDeleteServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodAddServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TypeAddServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.TypeAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PicMoreServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.PicMoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodAddPostServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodAddPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodUpPicServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodUpPicServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodInfoServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodUpdateServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.FoodUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoadServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.UserLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserAddServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.UserAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserUpdateServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResLoadServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.ResLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomepageLoadServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.HomepageLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomepageUpdateServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.HomepageUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.restaurant.front.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.restaurant.front.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArchiveServlet</servlet-name>
		<servlet-class>com.restaurant.front.ArchiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaffServlet</servlet-name>
		<servlet-class>com.restaurant.front.StaffServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReservationServlet</servlet-name>
		<servlet-class>com.restaurant.front.ReservationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GalleryServlet</servlet-name>
		<servlet-class>com.restaurant.front.GalleryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArchiveMoreServlet</servlet-name>
		<servlet-class>com.restaurant.front.ArchiveMoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuChartServlet</servlet-name>
		<servlet-class>com.restaurant.front.MenuChartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TypeEditServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.TypeEditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.restaurant.front.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderLoadServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.OrderLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderCtrlServlet</servlet-name>
		<servlet-class>com.restaurant.servlet.OrderCtrlServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllNewsServlet</servlet-name>
		<url-pattern>/AllNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewsServlet</servlet-name>
		<url-pattern>/AddNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteNewsServlet</servlet-name>
		<url-pattern>/DeleteNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNewsServlet</servlet-name>
		<url-pattern>/EditNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNewsServlet2</servlet-name>
		<url-pattern>/EditNewsServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsPageServlet</servlet-name>
		<url-pattern>/NewsPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsFilterServlet</servlet-name>
		<url-pattern>/NewsFilterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicAllServlet</servlet-name>
		<url-pattern>/PicAllServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicChangeDisplayServlet</servlet-name>
		<url-pattern>/PicChangeDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodPageServlet</servlet-name>
		<url-pattern>/FoodPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicUploadServlet</servlet-name>
		<url-pattern>/PicUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicDeleteServlet</servlet-name>
		<url-pattern>/PicDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodDeleteServlet</servlet-name>
		<url-pattern>/FoodDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodAddServlet</servlet-name>
		<url-pattern>/FoodAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TypeAddServlet</servlet-name>
		<url-pattern>/TypeAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PicMoreServlet</servlet-name>
		<url-pattern>/PicMoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodAddPostServlet</servlet-name>
		<url-pattern>/FoodAddPostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodUpPicServlet</servlet-name>
		<url-pattern>/FoodUpPicServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodInfoServlet</servlet-name>
		<url-pattern>/FoodInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodUpdateServlet</servlet-name>
		<url-pattern>/FoodUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoadServlet</servlet-name>
		<url-pattern>/UserLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/UserDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAddServlet</servlet-name>
		<url-pattern>/UserAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdateServlet</servlet-name>
		<url-pattern>/UserUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResLoadServlet</servlet-name>
		<url-pattern>/ResLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomepageLoadServlet</servlet-name>
		<url-pattern>/HomepageLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomepageUpdateServlet</servlet-name>
		<url-pattern>/HomepageUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/MenuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveServlet</servlet-name>
		<url-pattern>/ArchiveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaffServlet</servlet-name>
		<url-pattern>/StaffServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationServlet</servlet-name>
		<url-pattern>/ReservationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GalleryServlet</servlet-name>
		<url-pattern>/GalleryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveMoreServlet</servlet-name>
		<url-pattern>/ArchiveMoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuChartServlet</servlet-name>
		<url-pattern>/MenuChartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TypeEditServlet</servlet-name>
		<url-pattern>/TypeEditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderLoadServlet</servlet-name>
		<url-pattern>/OrderLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderCtrlServlet</servlet-name>
		<url-pattern>/OrderCtrlServlet</url-pattern>
	</servlet-mapping>

	<!-- configure filter -->
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.restaurant.filter.EncodeFilter</filter-class>
		<init-param>
			<param-name>SetEncode</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- configure listener -->
	<listener>
		<listener-class>com.restaurant.filter.LoginedCheck</listener-class>
	</listener>

</web-app>